<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet"/>
<mat-toolbar>
	<button mat-icon-button class="material-symbols-outlined" aria-label="Transition" (click)="select(DrawingTools.SELECT)">
		<mat-icon fontSet="material-icons-outlined">mouse</mat-icon>
	</button>
	<span> | </span>
	<button mat-icon-button class="material-symbols-outlined" aria-label="Transition" (click)="select(DrawingTools.TRANSITION)">
		<mat-icon fontSet="material-icons-outlined">rectangle</mat-icon>
	</button>
	<span class="example-spacer"></span>
	<button mat-icon-button class="material-symbols-outlined" aria-label="Place" (click)="select(DrawingTools.PLACE)">
		<mat-icon fontSet="material-icons-outlined">circle_outline</mat-icon>
	</button>
	<button mat-icon-button class="material-symbols-outlined" aria-label="Example icon-button with share icon" (click)="select(DrawingTools.ARC)">
		<mat-icon>arrow_forward</mat-icon>
	</button>
	<span> | </span>
	<button mat-icon-button class="material-symbols-outlined" aria-label="Example icon-button with share icon" (click)="select(DrawingTools.GARBAGE)">
		<mat-icon fontSet="material-icons-outlined">delete</mat-icon>
	</button>
	<span>| {{selected.toLowerCase()}}</span>
</mat-toolbar>
