<div class="info-table">
	<div class="info-row">
		<div class="info-cell" style="width: 50px">States:</div>
		<div class="info-cell, number">{{states}}</div>
		<div class="info-cell">Bounded</div>
		<div class="info-cell">Liveness</div>
		<div class="info-cell">Reversibility</div>
		<div class="info-cell" style="width: 28px"></div>
	</div>
	<div class="info-row">
		<div class="info-cell" style="width: 50px">Edges:</div>
		<div class="info-cell, number">{{edges}}</div>
		<div class="info-cell">{{bounded}}</div>
		<div class="info-cell">{{live}}</div>
		<div class="info-cell">{{reversible}}</div>
		<div class="info-cell" style="width: 28px"><button class="info-button" [disabled] = "message.length == 0" mat-icon-button matTooltip="{{message}}"><mat-icon fontSet="material-icons-outlined" matTooltip="{{message}}" fontIcon="info">info</mat-icon></button></div>
	</div>
</div>
