.mat-toolbar {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 2; /* Adjust the z-index as needed to ensure it appears above the main content */

	height: 40px; // Adjust the height as needed
	font-weight: normal; // Remove bold font
	font-size: 13px; // Adjust the font size as needed
}

.info-table {
	/* Add styling for your table-like structure */
	display: table;
	width: 100%;
	position: fixed;
	bottom: 0;
	background-color: #efefef;
}

.info-row {
	display: table-row;
}

.info-cell {
	display: table-cell;
	padding: 2px 0 2px 1px;
	text-align: left;
	width: 90px;
    line-height: 16px;
}

.number {
	text-align: right;
	width: 65px;
}

.info-button {
    height: 16px;
    width: 24px;
    padding: 2px 0;
    display: flex;
    align-items: flex-end;
}

.info-button mat-icon {
    transform: scale(0.8);
}
