<div class="info-table">
    <div class="info-row">
        <div class="info-cell" style="width: 50px">States:</div>
        <div class="info-cell, number">{{states}}</div>
        <div class="info-cell">Reversibility</div>
        <!--<div class="info-cell">Liveness</div>-->
    </div>
    <div class="info-row">
        <div class="info-cell" style="width: 50px">Edges:</div>
        <div class="info-cell, number">{{edges}}</div>
        <div class="info-cell">{{reversible}}</div>
        <!--<div class="info-cell">{{live}}</div>-->
    </div>
</div>
